.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vh;
  padding: 10px;
}

.partition {
  display: flex;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
}



